header {
         font-family: 'Lobster', cursive;
         font-size: 20px;
         width: 100%;
         height: 100px;
         background-color: yellow;
} 
     main {
         width: 100%;
         margin: 0px auto;
		 height: 480px;
         background-color: beige;
}   
     footer {
         width: 100%;
         height: 30px;
         clear: both;
         margin: 0px auto;
         background-color: goldenrod;
         display: block;
 }
     img { 
       border: 10px solid red ;
       padding: 5px ;
       width: 150px;
       margin: 10px ;
       float: left ;
 }  
    section {
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#navigation {
    font-size: 15px;
}
#centercolumn {
         width: 100%;
         float:left;
         background-color: beige;
 } 
        ul li{
            list-style-type: none;
            display: inline;
            margin:16px; 
 }
         ul li a {
            text-decoration: none;
            color: mediumvioletred;
 }
         ul li a:hover {
            background-color: aliceblue;
            color: black;
 }
     .redtext {
        color: red;
 }
    .obliquetext {
        font-style: oblique;
 }
    .bluetext {
        color: blue;
 }
    .strechtext {
       font-stretch: normal;
 }